@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
}

h5 {
  text-transform: uppercase;
  font-size: 16px !important ;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
}

h2 {
  font-size: 4rem !important;
  font-weight: 800 !important;
}

.login-page {
  background: url("./images/background.png");
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.ADALogo {
  width: clamp(40px, 40%, 80px);
  height: auto;
  position: absolute;
  top: clamp(1%, 3%, 5%);
  right: clamp(1%, 3%, 5%);
}

.title {
  margin-bottom: 20px;
}

.title h1 {
  color: white;
  font-size: 32px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.login-form {
  min-width: 320px;
  max-width: 480px;
}

.container input {
  width: 100%;
  height: 48px;
}

.password-container input {
  width: 100%;
  height: 48px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
}

.container input:focus,
.password-container input:focus {
  outline: none;
}

.loginpage-button {
  background-color: rgb(97, 119, 196);
  color: #ffffff;
  width: 100%;
  height: 48px;
  border-radius: 25px;
  border: none;
}

.password-container {
  position: relative;
}

.password-container button {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#eye-icon {
  color: #9ba3be;
}

.index-icon {
  width: 70px;
  font-size: 70px;
  margin-bottom: 20px;
}

.index-card {
  height: 200px !important;
}

.index-card:hover {
  border-color: #008ffb;
  color: black;
  text-decoration: none;
}

.logout-card {
  background-color: #eb5757 !important;
}

.logout-card:hover {
  background-color: #da0a0a !important;
  text-decoration: none;
}

.color-white {
  color: white !important;
}

/* Pagination Styles */
.pagination > li > a {
  background-color: white;
  color: #000;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #000;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #000 !important;
  border: solid 1px #000 !important;
}

.pagination > .active > a:hover {
  background-color: #000 !important;
  border: solid 1px #000;
}

.card {
  border-radius: 10px !important;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.05);
  height: 100% !important;
}

.align-content-center {
  align-content: center;
}

.row {
  row-gap: 20px;
}

.apexcharts-canvas {
  margin: auto;
}

.container {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.container input {
  width: 100%;
  height: 48px;
  /* margin-bottom: 10px; */
  border-radius: 25px;
  padding: 10px 20px;
}

.border-none {
  border: none;
}

.filter-btn {
  height: 46px !important;
  border-radius: 23px !important;
}

.custom-select.data {
  width: 100% !important;
  height: 48px !important;
  padding: 10px 20px !important;
  box-sizing: border-box !important;
  border-radius: 25px !important;
}

.info-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.fa-circle-info:before,
.fa-info-circle:before {
  color: #0000002b;
}

.info-btn .tooltip {
  visibility: hidden;
  width: 220px;
  background-color: #008ffb;
  color: white;
  text-align: center;
  padding: 9px;
  border-radius: 20px 0px 20px 20px;
  z-index: 50;
  right: 30px;
  top: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.info-btn.show-tooltip .tooltip {
  visibility: visible;
  opacity: 1;
}

.export-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.fas.fa-download {
  color: #0000002b; /* Default color */
}

.fas.fa-download:hover {
  color: #636161; /* Color on hover */
}

.index-cards {
  background-color: rgba(97, 108, 163, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover {
  text-decoration: none;
  color: inherit;
}

.responsive-icons {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column !important;
  }
}

@media (min-width: 768px) {
  .desktop-height {
    height: 80%;
  }
}
