body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-rendering: optimizeSpeed;
}

.custom-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
  height: -webkit-fill-available;
  justify-content: space-between;
  padding: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}

.title {
  text-align: center;
  font-size: clamp(20px, 5vw, 28px);
  font-weight: bold;
  color: #8e7242;
}

.buttons {
  height: 100%;
  width: 100%;
}

.choices {
  background: #fff;
  background-image: linear-gradient(
    to right,
    #2a68dc 0%,
    #4da3ff 37%,
    #3677e4 100%
  );
  margin-bottom: 20px;
}

.choices:hover {
  transition: all 0.5s ease-in 0s;
  background-image: linear-gradient(#f9f6f1 #f9f6f1);
  color: #8e7242;
}

button {
  display: block;
  width: clamp(200px, 50vw, 350px);
  height: clamp(35px, 5vh, 50px);
  font-size: clamp(16px, 2vw, 22px);
  border-color: #8e7242;
  background: #fff;
}

button:hover {
  transition: all 0.5s ease-in 0s;
  color: #8e7242;
  /* background: #fff; */
}

.spacer {
  height: 10vh;
}

/* Category Page Styles */

h1 {
  font-size: clamp(70px, 2vw, 120px);
  font-weight: bold;
  letter-spacing: 6px;
  margin-top: -20px;
  margin-bottom: -20px;
}

h3 {
  font-size: clamp(30px, 2vw, 70px);
  font-weight: bold;
  color: #8e7242;
}

.description {
  width: clamp(260px, 80vw, 550px);
}

/* Quiz Styles */

/* Admin Dashboard */

.btn btn-dark button {
  background: #000;
}
